.container {
    max-width: 678px;
    width: 100%;
    margin: 45px auto 0 auto;
    padding: 0 10px;
}

ion-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading {
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

.information {
    padding: 15px;
    background-color: #FCFCFC;
    border-radius: 3px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    margin-top: 15px;

    &:last-child{
        margin-bottom: 50px;
    }

    ion-row{
        display: grid;
        grid-template-columns: 63% 35%;
        grid-column-gap: 2%;

        &> :nth-child(2){
            text-align: right;
        }
    }

    .md p, .ios p, p{
        line-height: inherit;
        color: var(--ion-color-kenteken-border);
    }

    .md h6, .ios h6, h6{
        color: var(--ion-color-dark);
    }
}

