//body {
//    font-size: 16px;
//    font-family: var(--ion-default-font);
//    font-style: normal;
//    font-weight: 400;
//}

:root,
.ios,
.md{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    ion-button,
    ion-input,
    ion-list-header,
    ion-select,
    label,
    ion-title{
        font-family: 'Montserrat', sans-serif, verdana;
        color: var(--ion-color-black);
        --ion-font-family: 'Montserrat', sans-serif, verdana;
        --ion-default-font: 'Montserrat', sans-serif, verdana;
    }
}

a {
    font-size: rem-calc(16);
    font-weight: 500;
}

p, .card-content-md p {
    font-size: rem-calc(16);
}

.card-content-md h1,
h1 {
    font-size: rem-calc(28);
    font-weight: normal;
}

.card-content-md h2,
h2 {
    font-size: rem-calc(26);
    font-weight: 500;
    line-height: 32pt;
}

h1, h2{
    border-bottom: 4px solid var(--ion-color-kenteken);
    margin: 30px;
}

.card-content-md h3,
.card-content-ios h3,
h3 {
    font-size: rem-calc(22);
    font-weight: 500;
    line-height: 32pt;
}

.card-content-md h4,
.card-content-ios h4,
h4 {
    font-size: rem-calc(20);
    font-weight: 500;
    line-height: 32pt;
}

.card-content-md h5,
.card-content-ios h5,
ion-title,
h5 {
    font-size: rem-calc(17);
    font-weight: 500;
    line-height: 32pt;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h, ion-list-header {
    font-family: 'Montserrat', sans-serif, verdana;;
    color: var(--ion-color-font);
    font-size: rem-calc(16);
    line-height: 1.3;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
    font-family: 'Montserrat', sans-serif, verdana;;
    color: var(--ion-color-font);
    overflow: unset;
}

ion-button{
    color: var(--ion-color-white);
    font-size: rem-calc(16px);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
}
